@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This site is built arround the asp.net and entity frameworks. It allows you to edit a beverage database from most web connected devices </p>
