@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    123 Imaginary Way<br>
    PO Box 1,000,000<br>
    The Moon
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:gfarnsworth6886@mail.kvcc.edu">gfarnsworth6886@mail.kvcc.edu</a><br />
</address>