@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Beverage Stock Editor</h1>
    <p class="lead">This Site is an easy and intuitive way to mannage wine Invitory.  </p>
    <p><a href="/home/about" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<figure>
    <img src="~/Pictures/wine-bottles-m-x.jpg" alt="A Collection of wine bottles" class="img-responsive" />
</figure>

<div class="row">
    <div class="col-md-4">
        <h2>Register to get started</h2>
        
        <p><a class="btn btn-default" href="/account/Register">Register &raquo;</a></p>
    </div>
</div>